@import "./reset";

header {
  height: 150px;
  padding: 15px;
  box-sizing: border-box;
  .btn_aside {
    position: relative;
    width: 25px;
    height: 25px;
    &:before {
      content:'';
      display: block;
      width: 100%;
      height: 3px;
      background:#000;
      box-shadow:0 0 0 #222, 0 9px 0 #222, 0 18px 0 #222;
      position: absolute;
      left:0;
      top:0;
    }
  }
}
.aside {
  position: fixed;
  left:-100%;
  top:0;
  width:80%;
  height: 100%;
  background:#4a4a4a;
  box-shadow:5px 0 5px #ccc;
  &_ctg {
    li {
      a {
        display: block;
        line-height: 25px;
        font-size: 15px;
        color:#fff;
      }
    }
  }
}