@charset "utf-8";
// loading common
.sai_loading_wrap {
	display: grid;
	grid-template-columns: repeat(10, minmax(100px, 1fr));
	grid-template-rows: repeat(10, minmax(100px, 1fr));
	.sai_loading {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

// dahyun
.dh_loader {
	display: flex;
	flex-flow: row wrap;
	max-width: 800px;
	margin: 0 auto;
	justify-content: space-around;
}

.dh_item {
	position: relative;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	// margin: 16px;
	// background: #f6f9ff;
	border-radius: 3px;
}

.number {
	position: absolute;
	padding: 10px;
	font-size: 10px;
	color: #0052ec;
}

.loader {
	display: flex;
	position: relative;
	top: 50%;
	justify-content: space-evenly;
	transform: translateY(-50%);
	align-items: center;
}

.loader1 span:nth-child(1) {
	width: 10px;
	height: 10px;
	background-color: rgba(0, 82, 236, 0.2);
	border-radius: 50%;
}

.loader1 span:nth-child(2) {
	width: 10px;
	height: 10px;
	background-color: rgba(0, 82, 236, 0.2);
	border-radius: 50%;
}

.loader1 span:nth-child(3) {
	width: 10px;
	height: 10px;
	background-color: rgba(0, 82, 236, 0.2);
	border-radius: 50%;
}

.loader1 span:nth-child(4) {
	width: 10px;
	height: 10px;
	background-color: rgba(0, 82, 236, 0.2);
	border-radius: 50%;
}

.loader1 span:nth-child(5) {
	width: 10px;
	height: 10px;
	background-color: rgba(0, 82, 236, 0.2);
	border-radius: 50%;
}

.loader2 span {
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
}

.loader3 {
	width: 56px;
	height: 56px;
	border: 8px solid rgba(0, 82, 236, 0.2);
	border-top-color: #0052ec;
	border-radius: 50%;
	margin: 0 auto;
}

.loader4 {
	// margin-top: 100px;
	text-align: center;
}

.loader4 span {
	display: inline-block;
	top: 50%;
	position: relative;
	width: 14px;
	height: 14px;
	margin-right: 5px;
	background: rgba(0, 82, 236, 0.2);
	border-radius: 50%;
}

.loader5 {
	position: relative;
	top: 50%;
	text-align: center;
}

.loader5 span {
	display: inline-block;
	width: 10px;
	height: 48px;
	background: #0052ec;
	position: relative;
	top: 50%;
	margin: -28px auto 0 auto;
}

// chaem
@keyframes circle_loading_ani {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.circle_1 {
	opacity: 0.5;
}

.circle_2 {
	stroke-dashoffset: 105;
	stroke-dasharray: 119;
	width: 38px;
	height: 38px;
	animation: circle_loading_ani 0.8s infinite linear;
	transform-origin: center center;
}

.svg_circle3 {
	position: relative;
	width: 45px;
	height: 45px;
}

.circle_3 {
	stroke-dashoffset: 70;
	stroke-dasharray: 119;
	animation: circle_loading_ani 0.7s infinite linear;
	transform-origin: center;
	fill: transparent;
	stroke: #ff3688;
	stroke-width: 4px;
	width: 38px;
	height: 38px;
}
