<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Button</title>
  <link rel="stylesheet" href="../scss/common.scss" />
</head>
<body>
	<div class="buttons">
		<div class="buttons_grid">
			<div class="buttons_box">
				<a href="#" class="menu ham1" class="testA">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
			<div class="buttons_box">
				<a href="#" class="menu ham2">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
			<div class="buttons_box">
				<a href="#" class="menu ham3">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
			<div class="buttons_box">
				<a href="#" class="menu ham4">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
			<div class="buttons_box">
				<a href="#" class="menu ham5">
					<span></span>
					<span></span>
					<span></span>
				</a>
			</div>
			<div class="buttons_box">
				<div class="buttons_ring closed">
					<div class="burger_line">
						<span class="ham1"></span>
						<span class="ham2"></span>
						<span class="ham3"></span>
					</div>
					<div class="burger_ring">
						<svg class="svg_ring">
							<path class="path" fill="none" stroke-miterlimit="10" stroke-width="4" d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2"></path>
						</svg>
					</div>
					<div class="path_burger">
						<div class="animate_path">
						<div class="path_rotation"></div>
						</div>
						</div>
				</div>
			</div>
			<div class="buttons_box">
				<div class="checkbox1">
					<label for="chk1">
						<input type="checkbox" id="chk1" name="chk" />
						<span>Check1</span>
						<svg class="svg_chk" viewBox="0 0 21 21">
							<path class="ani_test" d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
						</svg>
					</label>
				</div>
			</div>
			<div class="buttons_box">
				<div class="radio">
					<span><input type="radio" name="radio" id="radio1" checked="checked"><label for="radio1">라디오</label></label></span>
					<span><input type="radio" name="radio" id="radio2"><label for="radio2">라디오</label></span>
					<span><input type="radio" name="radio" id="radio3"><label for="radio3">라디오</label></span>
					<span class="check"></span>
				</div>
				<script>
					window.addEventListener("DOMContentLoaded", () => {
						const checkElem = document.querySelector(".check");
						const radioElem = document.querySelectorAll("input[name='radio']");
						const radioParent = document.querySelector(".radio");
						for(var i = 0; i < radioElem.length; i++){
							radioElem[i].addEventListener('click', (e) => {
								const index = Array.from(radioParent.children).indexOf(e.target.parentNode);
								console.log()
								if(e.target.checked === true) {
									checkElem.style.transform = `translateY(${(e.target.parentNode.clientHeight) * index}px)`;
								}
							})
						}
					})
				</script>
			</div>
			<div class="buttons_box">
				<style>
					.animation{
						overflow:hidden;
						width:150px;
						height:50px;
					}
					.anibox-wrap {
						
					}
					div[class^="anibox"] {
						display: block;
						height:50px;
						animation:ani-box 1s infinite;
					}
					@keyframes ani-box {
						0% {
							transform:translateY(0);
						}
						100% {
							transform:translateY(-50%);
						}
					}
				</style>
				<div class="animation">
					<div class="anibox-wrap">
						<div class="anibox1">박스1</div>
						<div class="anibox2">박스2</div>
						<div class="anibox3">박스3</div>
					</div>
					<script>
						(function(){
							const aniWrap = document.querySelector('.anibox-wrap');
							const setTime = setInterval(setClondNode, 1000);

							function setClondNode(){
								const cloneNodes = document.querySelector('.anibox-wrap').firstElementChild;
								aniWrap.appendChild(cloneNodes.cloneNode(true));
								aniWrap.removeChild(cloneNodes);
							}
						})();
					</script>
				</div>
			</div>
		</div>
	</div>
	<script>
		const hamMenu = document.querySelector('.buttons_grid');

		hamMenu.addEventListener('click', function(e){
			let elem = e.target;

			while(!elem.classList.contains('menu')) {
				elem = elem.parentNode;
				if(elem.tagName === 'BODY') {
					elem = null;
					return;
				}
			}
			elem.classList.toggle('active')
		})

		// buttons ring
		const closeBtn = document.querySelector('.buttons_ring');
		closeBtn.addEventListener('click', (e) => {
			let elem = e.target.parentNode;

			while (!elem.classList.contains('buttons_ring')) {
				elem = elem.parentNode;
			}
			
			if( elem.classList.contains('buttons_ring') ) {
				if( elem.classList.contains('closed')) {
					elem.classList.remove('closed');
					elem.classList.add('opened');
				} else {
					elem.classList.remove('opened');
					elem.classList.add('closed');
				}
			}
		})
	</script>
</body>
</html>