<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
    <!-- CDN TweenMax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>
  
	
  <style>
    #animate {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
      width: 400px;
      height: 400px;
      background: rgba(255, 0, 0, 0.5);
    }
		.bg {
			width: 100%;
			height: 300px;
			background: #eee;
		}
  </style>
</head>
<body>
  <div class="contents">
    <header class="header_top">
      <div class="btn_menu">
        <button type="button" class="btn_aside" >
          <span class="blind">메뉴</span>
        </button>
        <h2>Ssg Animation Index</h2>
      </div>
    </header>


    <section class="section">
      <div id="animate"></div>
			<div class="bg"></div>
			<div class="bg"></div>
			<div class="bg"></div>
			<div class="bg"></div>
			<div class="bg"></div>
			<div class="bg"></div>
			<div class="bg"></div>
    </section>
  <div>
    <script>
      const aniBox = document.getElementById('animate');
      const nScrollLock = aniBox.offsetTop + aniBox.offsetHeight;
      let nLastScroll = null;
      let nScale = 1;
      window.addEventListener('scroll', function(){
        const nCurrentScrollY = window.scrollY;
        const nRadiusLOck = nCurrentScrollY / Math.PI;
        
        if ( 100 <= nRadiusLOck ) {
          // gsap.set(aniBox, { left: "100%", duration:2 })
        }

        if ( nCurrentScrollY >= nScrollLock || 100 <= nRadiusLOck ) return;

        gsap.set(aniBox,{
          borderRadius: (window.scrollY / Math.PI) + "%",
          translateY : nCurrentScrollY,
          scale : nScale
        })

        if ( nCurrentScrollY > nLastScroll && nScale >= 0.1 ) {
          nScale -= (0.01)
        } else {
          nScale += (0.01)
        }

        nLastScroll = window.scrollY;
      });
    </script>
</body>
</html>